* {
    margin: 0;
    padding: 0;
}

.rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 7px;
}